<ion-content [fullscreen]="true">
  <ion-grid id="main-card">
    <ion-row>
      <ion-col size="8" sizeXs="12" sizeMd="8" id="signup-form">
        <p><span>Sign Up</span></p>
        <ion-card>
          <img
            class="logo"
            alt="Logo Placeholder"
            src="../../../../assets/icon/logo.png"
          />
          <ion-card-content style="width: 100% !important">
            <!-- Awesome content -->
            <form [formGroup]="signupForm">
              <ion-grid>
                <ion-row>
                  <ion-col size="6">
                    <ion-item lines="none">
                      <ion-input
                        color="palette-primary-alt"
                        type="text"
                        label="NAME"
                        labelPlacement="floating"
                        formControlName="name"
                      ></ion-input>
                      <ion-note
                        class="input-error"
                        *ngIf="signupForm.controls.name.dirty && signupForm.controls.name.invalid"
                        >3 or more characters</ion-note
                      >
                    </ion-item>
                  </ion-col>
                  <ion-col size="6">
                    <ion-item lines="none">
                      <ion-input
                        color="palette-primary-alt"
                        type="email"
                        label="EMAIL"
                        labelPlacement="floating"
                        formControlName="email"
                      ></ion-input>
                      <ion-note
                        class="input-error"
                        *ngIf="signupForm.controls.email.dirty && signupForm.controls.email.invalid"
                        >Invalid email</ion-note
                      >
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12">
                    <ion-item lines="none">
                      <ion-input
                        color="palette-primary-alt"
                        type="password"
                        label="PASSWORD"
                        labelPlacement="floating"
                        formControlName="password"
                      ></ion-input>
                      <ion-note
                        class="input-error"
                        *ngIf="signupForm.controls.password.dirty && signupForm.controls.password.invalid"
                        >8 or more characters</ion-note
                      >
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12">
                    <ion-item lines="none">
                      <ion-input
                        color="palette-primary-alt"
                        type="password"
                        label="CONFIRM PASSWORD"
                        labelPlacement="floating"
                        formControlName="confirmPassword"
                      ></ion-input>
                      <ion-note
                        class="input-error"
                        *ngIf="signupForm.controls.confirmPassword.dirty && signupForm.controls.password.value !== signupForm.controls.confirmPassword.value"
                        >Passwords must match</ion-note
                      >
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12">
                    <ion-button
                      size="large"
                      expand="block"
                      color="palette-primary-alt"
                      fill="solid"
                      (click)="onSubmit()"
                      [disabled]="utilSrv.loading()"
                    >
                      <b *ngIf="!utilSrv.loading(); else loading">Sign up</b>
                      <ng-template #loading>
                        <ion-spinner name="crescent"></ion-spinner>
                      </ng-template>
                    </ion-button>
                  </ion-col>
                </ion-row>
                <ion-row class="third-party-auth">
                  <ion-col size="1.7">
                    <img
                      src="../../../../assets/icon/google-auth.svg"
                      alt="Google auth"
                    />
                  </ion-col>
                  <ion-col size="1.7">
                    <img
                      src="../../../../assets/icon/x-auth.svg"
                      alt="Twitter auth"
                    />
                  </ion-col>
                  <ion-col size="1.7">
                    <img
                      src="../../../../assets/icon/facebook-auth.svg"
                      alt="Facebook Auth"
                    />
                  </ion-col>
                </ion-row>
                <p>Have an account? <a href="/login">Login</a></p>
                <!-- LINK TO LOGIN -->
              </ion-grid>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4" id="login-cta">
        <h2>We're excited to have you on board</h2>
        <p>At Studera, we're dedicated to empowering your education journey.</p>
        <ul>
          <li>Gain access to a diverse range tailor fit study materials.</li>
          <li>Track your progress, set goals, and achieve academic success.</li>
        </ul>
        <br />
        <p>Already have an account?</p>
        <ion-button
          size="large"
          (click)="goToLogin()"
          expand="block"
          fill="outline"
          shape="round"
        >
          <b>Login</b>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
