@import "../../../../theme/mixins";

#main {
  @include flex(row, $justify: flex-start, $align: flex-start, $gap: 1em);
  background: linear-gradient(
      rgba(245, 245, 240, 0.9),
      rgba(245, 245, 240, 0.9)
    ),
    url("../../../../assets/images/bg-light.png");
  backdrop-filter: contrast(40%);
  min-height: 100%;
  padding: 0.5em;
  padding-left: 2.5em;

  app-side-panel {
    height: min(100vh, 100%);
  }

  .utilities {
    position: absolute;
    right: 1em;
    top: 0.5em;
    @include flex(row, $justify: center, $align: center, $gap: 0.5em);

    ion-button {
      --border-radius: 10px;
      aspect-ratio: 1;
    }
  }
}

#main.dark {
  background: linear-gradient(rgba(19, 19, 14, 0.9), rgba(19, 19, 14, 0.9)),
    url("../../../../assets/images/bg-dark.png");
}
#main-content {
  color: black;
  width: 90%;
  h1 {
    font-weight: 700;
  }
  ion-radio-group ion-item {
    --background: transparent !important;
    --color: black;
    ion-radio {
      --color: black;
    }
    ion-label {
      --border: none !important; //NOT WORKING
    }
  }
}
