<ion-content [fullscreen]="true" style="position: relative">
  <div id="main" [class]="theme">
    <!--SIDE PANEL AND UTILITY ICONS-->
    <app-side-panel [theme]="theme"></app-side-panel>
    <div class="utilities">
      <ion-button (click)="onClick()" [color]="checkButtonColor(theme)">
        <ion-icon
          slot="icon-only"
          src="../../../assets/icon/notification.svg"
          size="small"
        ></ion-icon>
      </ion-button>
      <ion-button (click)="onClick()" [color]="checkButtonColor(theme)">
        <ion-icon
          slot="icon-only"
          src="../../../assets/icon/person.svg"
          size="small"
        ></ion-icon>
      </ion-button>
    </div>
    <!--END-->

    <!--MAIN CONTENT-->
    <div id="main-content">
      <h1>Questions</h1>
      <ol id="mcq">
        <li
          class="mcq-options"
          *ngFor="let item of clientSrv.testData(); let i = index"
        >
          <h2>{{ item.question }}</h2>
          <ion-radio-group>
            <ion-item *ngFor="let option of item.options" lines="none">
              <!-- <ion-label>{{ option }}</ion-label> -->
              <ion-radio value="end" alignment="start">{{ option }}</ion-radio>
            </ion-item>
          </ion-radio-group>
        </li>
      </ol>
    </div>
  </div>
</ion-content>
