@import "../../../theme/mixins";

ion-content {
  --background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    #fff url("../../../assets/images/main_bg.png") no-repeat center center/cover;
  height: 100vh;
}

ion-col {
  height: 100vh;
}

ion-img.logo {
  width: 3em !important;
  cursor: pointer;
  transform: translateY(-1em); //QUICK FIX
  // position: absolute;
  // top: 1em;
  // left: 2em;
}

ion-col {
  padding: 3em 2em;
  div > div {
    h1 {
      font-size: 1.75em;
      font-weight: 700;
    }
    p {
      font-size: 16px;
    }
  }
}

.join-us {
  position: absolute;
  text-decoration-style: none;
  font-size: 1.2em;
  color: white;
  bottom: 4em;
  left: 2em;
  @include flex(row, $gap: 0.5em);
}
.join-us:hover {
  color: rgb(50, 50, 210);
}
#auth-group {
  position: absolute;
  right: 1.5em;
  top: 1em;
  @include flex(row, $justify: center, $align: center, $gap: 1em);
}
.auth-button {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 30px;
  padding: 4px 10px;
  text-decoration: none;
  color: white;
  font-size: 16px;
}
.auth-button:hover {
  background-color: #fff;
  color: black;
}
.auth-button.signup {
  background-color: #fff;
  color: black;
}
.auth-button.signup:hover {
  background-color: transparent;
  color: white;
}
ion-button.register {
  --background: white;
}
.main-img {
  width: 40vw;
}
.intro {
  @include flex(column, $justify: center, $align: flex-start, $gap: 0em);
}
.second-header {
  font-size: 2em !important;
  font-weight: 700;
}
