<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img
          class="logo"
          alt="Logo Placeholder"
          src="../../../../assets/icon/logo.svg"
        ></ion-img>
        <div>
          <div>
            <h1>Welcome to Studera</h1>
            <p>Where learning meets efficiency</p>
          </div>
          <div>
            <h1>Reimagine Exam Preparation with Studera!</h1>
            <p>Customized Study Plans - Because one size doesn't fit all</p>
          </div>
        </div>
        <a class="join-us" href="/login">Join us now</a>
      </ion-col>
      <ion-col class="right-col">
        <!-- <h1>MASSIVE IMAGE HERE</h1> -->
        <div id="auth-group">
          <ion-button href="/login" class="auth-button" color="primary"
            >Login</ion-button
          >
          <ion-button href="/signup" class="auth-button" color="primary"
            >Sign Up</ion-button
          >
        </div>
        <img src="https://storyset.com/work" />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
