<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img
          class="logo"
          alt="Logo Placeholder"
          src="../../../../assets/icon/logo.svg"
        ></ion-img>
        <div>
          <div class="intro">
            <h1>Welcome to Studera!</h1>
            <p>..where learning meets efficiency.</p>
          </div>
          <div class="intro">
            <h1 class="second-header">
              Reimagine Exam Preparation with Studera
            </h1>
            <p>Customized Study Plans - Because one size doesn't fit all.</p>
          </div>
        </div>

        <a class="join-us" href="/signup"
          >Join us now
          <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
        </a>
      </ion-col>
      <ion-col class="right-col">
        <!-- <h1>MASSIVE IMAGE HERE</h1> -->
        <div id="auth-group">
          <a href="/login" class="auth-button">Login</a>
          <a href="/signup" class="auth-button signup">Sign Up</a>
        </div>
        <ion-img
          class="main-img"
          alt="Logo Placeholder"
          src="../../../assets/images/welcome-img.png"
        ></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
