<ion-content [fullscreen]="true">
  <div id="main" [class]="theme">
    <div class="utilities">
      <ion-button
        (click)="onClick()"
        size="small"
        [color]="checkButtonColor(theme)"
      >
        <ion-icon
          slot="icon-only"
          src="../../../assets/icon/notification.svg"
          size="small"
        ></ion-icon>
      </ion-button>
      <ion-button (click)="onClick()" [color]="checkButtonColor(theme)">
        <ion-icon
          slot="icon-only"
          src="../../../assets/icon/person.svg"
          size="small"
        ></ion-icon>
      </ion-button>
    </div>
    <div class="app-side-panel">
      <app-side-panel [theme]="theme"></app-side-panel>
    </div>
  </div>
</ion-content>
