@import '../../../theme/mixins';

#main {
  @include flex(row, $gap: 1em);
  background:linear-gradient(rgba(245, 245, 240,.9), rgba(245, 245, 240,.9)), url("../../../assets/images/bg-light.png");
  backdrop-filter: contrast(40%);
  height: 100%;
  padding: 0.5em;
  position: relative;

  app-side-panel {
    height: 100%;
  }

  .utilities {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    @include flex(row, $justify: center, $align: center, $gap: 0.5em);

    ion-button {
      --border-radius: 10px;
      aspect-ratio: 1
    }
  }
}

#onboarding {
  @include flex(column);
  padding: 1em;
  width: 100%;
  margin-top: auto;
  height: 55%;
  position: relative;

  h1 {
    color: #000;
    font-size: 2em;
    font-weight: bold;
  }
}

ion-searchbar.custom {
  --background: #fff;
  --color: #000034;
  --placeholder-color: #000034;
  --icon-color: #000034;
  --clear-button-color: #000034;
  --border-radius: 15px !important;
  max-width: 1000px;
  transform: scale(1.2);
  width: 80%;
  position: relative;
  color: #000034;


  &::ng-deep {
    input.searchbar-input.sc-ion-searchbar-md {
      padding: 0.5em 0.5em 0.5em 2em !important;
    }
  }

  ion-icon {
    position: absolute;
    font-size: 1em;
    right: 1em !important;
    top: 1em;
    bottom: 1em;
    z-index: 1;
  }
}


ion-grid {
  max-width: 800px;
}


ion-card {
  --background: #ffffff !important;
  padding-left: 2em;
  background: #fff !important;
  box-shadow: none;
  border: 2px solid #00032433;
  border-radius: 10px;

  ion-card-subtitle {
    opacity: 0.5;
  }
}

.continue {
  position: absolute;
  right: 0;
  bottom: 0;
  text-transform: none;
  --border-radius: 10px;
}

#main.dark {
  background:linear-gradient(rgba(19, 19, 14, 0.9), rgba(19, 19, 14,.9)), url("../../../assets/images/bg-dark.png");

  #onboarding {
    h1 {
      color: #fff
    }
  }

  ion-searchbar.custom {
    --background: #000034;
    --color: #fff;
    --placeholder-color: #f0f0f0;
    --icon-color: #f0f0f0;
    --clear-button-color: #f0f0f0;

    ion-icon {
      color: #fff;
    }
  }

  ion-card {
    --background: #000034 !important;
    background: #000034 !important;
    color: #fff;
    box-shadow: none;
    border: 2px solid #FFFFFF33;

    ion-card-subtitle {
      opacity: 0.5;
    }
  }

}

// .dark {
//   #main {
//     @include flex(row, $gap: 1em);
//     background:linear-gradient(rgba(245, 245, 240,.9), rgba(245, 245, 240,.9)), url("../../../assets/images/bg-light.png");
//     backdrop-filter: contrast(40%);
//     height: 100%;

//     app-side-panel {
//       height: 100%;
//     }
//   }

//   #onboarding {
//     @include flex(column);
//     padding: 1em;
//     width: 100%;
//     margin-top: auto;
//     height: 55%;

//     h1 {
//       color: #000;
//       font-size: 2em;
//       font-weight: bold;
//     }
//   }

//   ion-searchbar.custom {
//     --background: #fff;
//     --color: #000034;
//     --placeholder-color: #000034;
//     --icon-color: #000034;
//     --clear-button-color: #000034;
//     --border-radius: 15px !important
//     // --box-shadow: none;
//     // border: 3px solid #0003244D;
//     // border-radius: 15px !important;
//   }

//   ion-card {
//     --background: #ffffff !important;
//     padding-left: 2em;
//     background: #fff !important;
//     box-shadow: none;
//     border: 2px solid #00032433;

//     ion-card-subtitle {
//       opacity: 0.5;
//     }
//   }

// }
