@import '../../../theme/mixins';

#main {
  @include flex(row, $gap: 1em);
  background:linear-gradient(rgba(245, 245, 240,.9), rgba(245, 245, 240,.9)), url("../../../assets/images/bg-light.png");
  backdrop-filter: contrast(40%);
  height: 100%;

  app-side-panel {
    height: 100%;
  }
}

#onboarding {
  @include flex(column);
  padding: 1em;
  width: 100%;
  margin-top: auto;
  height: 55%;

  h1 {
    color: #000;
    font-size: 2em;
    font-weight: bold;
  }
}

ion-searchbar.custom {
  --background: #fff;
  --color: #000034;
  --placeholder-color: #000034;
  --icon-color: #000034;
  --clear-button-color: #000034;
  --border-radius: 15px !important;
  max-width: 1000px;
  // --box-shadow: none;
  // border: 3px solid #0003244D;
  // border-radius: 15px !important;
}

ion-grid {
  max-width: 800px;
}

ion-card {
  --background: #ffffff !important;
  padding-left: 2em;
  background: #fff !important;
  box-shadow: none;
  border: 2px solid #00032433;

  ion-card-subtitle {
    opacity: 0.5;
  }
}

#main.dark {
  background:linear-gradient(rgba(19, 19, 14, 0.9), rgba(19, 19, 14,.9)), url("../../../assets/images/bg-dark.png");

  #onboarding {
    h1 {
      color: #fff
    }
  }

  ion-searchbar.custom {
    --background: #000034;
    --color: #fff;
    --placeholder-color: #f0f0f0;
    --icon-color: #f0f0f0;
    --clear-button-color: #f0f0f0;
  }

  ion-card {
    --background: #000034 !important;
    background: #000034 !important;
    color: #fff;
    box-shadow: none;
    border: 2px solid #FFFFFF33;

    ion-card-subtitle {
      opacity: 0.5;
    }
  }

}

// .dark {
//   #main {
//     @include flex(row, $gap: 1em);
//     background:linear-gradient(rgba(245, 245, 240,.9), rgba(245, 245, 240,.9)), url("../../../assets/images/bg-light.png");
//     backdrop-filter: contrast(40%);
//     height: 100%;

//     app-side-panel {
//       height: 100%;
//     }
//   }

//   #onboarding {
//     @include flex(column);
//     padding: 1em;
//     width: 100%;
//     margin-top: auto;
//     height: 55%;

//     h1 {
//       color: #000;
//       font-size: 2em;
//       font-weight: bold;
//     }
//   }

//   ion-searchbar.custom {
//     --background: #fff;
//     --color: #000034;
//     --placeholder-color: #000034;
//     --icon-color: #000034;
//     --clear-button-color: #000034;
//     --border-radius: 15px !important
//     // --box-shadow: none;
//     // border: 3px solid #0003244D;
//     // border-radius: 15px !important;
//   }

//   ion-card {
//     --background: #ffffff !important;
//     padding-left: 2em;
//     background: #fff !important;
//     box-shadow: none;
//     border: 2px solid #00032433;

//     ion-card-subtitle {
//       opacity: 0.5;
//     }
//   }

// }
