@import "../../../theme/mixins";

.app-side-panel {
  height: 100%;
}

#main {
  @include flex(row, $gap: 1em);
  background: linear-gradient(
      rgba(245, 245, 240, 0.9),
      rgba(245, 245, 240, 0.9)
    ),
    url("../../../assets/images/bg-light.png");
  backdrop-filter: contrast(40%);
  height: 100%;
  padding: 0.5em;
  position: relative;

  app-side-panel {
    height: 100%;
  }

  .utilities {
    position: absolute;
    right: 1em;
    top: 0.5em;
    @include flex(row, $justify: center, $align: center, $gap: 0.5em);

    ion-button {
      --border-radius: 10px;
      aspect-ratio: 1;
    }
  }
}

#onboarding {
  @include flex(column);
  padding: 1em;
  width: 100%;
  margin-top: auto;
  height: 68%;
  position: relative;

  h1 {
    color: #000;
    font-size: 2em;
    font-weight: bold;
  }
}

#main-searchbar {
  position: relative;
}

#main-searchbar::before {
  content: "";
  background: url("../../../assets/icon/search-custom.svg");
  position: absolute;
  top: 30%;
  left: 1em;
  background-repeat: no-repeat;
  background-size: contain;
  height: 40%;
  aspect-ratio: 1;
  z-index: inherit;
}

ion-grid {
  max-width: 800px;
}

ion-card {
  --background: #ffffff !important;
  padding-left: 1em;
  background: #fff !important;
  box-shadow: none;
  border: 2px solid #00032433;
  cursor: pointer;
  border-radius: 14px;

  ion-card-subtitle {
    opacity: 0.5;
  }
}

.continue {
  position: absolute;
  right: 2em;
  bottom: 2em;
  text-transform: none;
  --border-radius: 10px;
}

ion-card-title {
  font-weight: 600;
}

#main.dark {
  background: linear-gradient(rgba(19, 19, 14, 0.9), rgba(19, 19, 14, 0.9)),
    url("../../../assets/images/bg-dark.png");

  #onboarding {
    h1 {
      color: #fff;
    }
  }

  #main-searchbar{
    --background: #ffffff40;
    --color: #fff;
    --placeholder-color: #fff;
    --icon-color: #f0f0f0;
    --clear-button-color: transparent;
    color: #fff;
  }
  #main-searchbar::before {
    color: #fff;
  }

  ion-card {
    --background: rgba(19, 19, 14, 0.9) !important;
    background: rgba(19, 19, 14, 0.9) !important;
    color: #fff;
    box-shadow: none;
    border: 2.5px solid #ffffff60;

    ion-card-subtitle {
      opacity: 0.5;
    }
  }
}

@media (max-width: 768px) {
  #main {
    ion-searchbar.custom {
      width: 85% !important;
      transform: scale(1.17);
    }
    .utilities {
      @include flex(row, $justify: center, $align: center, $gap: 0.25em);
      ion-button {
        transform: scale(0.85);
      }
    }
  }
  .app-side-panel {
    display: none !important;
  }
  #onboarding {
    height: 68%;

    h1 {
      font-size: 1.5em;
    }
  }
  #only-md {
    display: none;
  }
  .continue {
    transform: scale(0.88);
    right: 1em;
    bottom: 1em;
  }
  ion-card-title {
    font-size: 1.1em;
  }
  ion-card-subtitle {
    font-size: 0.9em;
  }
  ion-grid {
    max-width: 86%;
  }
}
