@mixin debug($color: red) {
  border: 1px solid $color;
}

@mixin flex($direction, $justify: flex-start, $align: center, $gap: normal normal, $wrap: nowrap ) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
  justify-content: $justify;
  flex-wrap: $wrap;
  align-items: $align;
}
