@import "../../../theme/mixins";

.app-side-panel {
  height: 100%;
}

#main {
  @include flex(row, $gap: 1em);
  background: linear-gradient(
      rgba(245, 245, 240, 0.9),
      rgba(245, 245, 240, 0.9)
    ),
    url("../../../assets/images/bg-light.png");
  backdrop-filter: contrast(40%);
  height: 100%;
  padding: 0.5em;
  position: relative;

  app-side-panel {
    height: 100%;
  }

  .utilities {
    position: absolute;
    right: 1em;
    top: 0.5em;
    @include flex(row, $justify: center, $align: center, $gap: 0.5em);

    ion-button {
      --border-radius: 10px;
      aspect-ratio: 1;
    }
  }
}
#main.dark {
  background: linear-gradient(rgba(19, 19, 14, 0.9), rgba(19, 19, 14, 0.9)),
    url("../../../assets/images/bg-dark.png");
}
#main-form {
  margin: auto;
}
ion-note {
  font-size: 1.5em;
  margin-inline: auto;
}
