<div id="side-panel" [ngClass]="{'dark': isDark()}">
  <ion-button [color]="checkButtonColor(theme)" id="logo" (click)="goto('/')">
    <ion-img src="../../../assets/icon/logo.png" alt="Studera logo"></ion-img>
  </ion-button>

  <ul id="side-menu">
    <li [ngClass]="{ active: active === 1 }" (click)="goto('/search')">
      <ion-icon [src]="layerIconSrc"></ion-icon>
    </li>
    <li [ngClass]="{ active: active === 2 }" (click)="goto('/home')">
      <ion-icon [src]="homeIconSrc"></ion-icon>
    </li>
    <li [ngClass]="{ active: active === 3 }" (click)="goto('/analytics')">
      <ion-icon [src]="pieIconSrc"></ion-icon>
    </li>
    <li [ngClass]="{ active: active === 4 }" (click)="goto('/test')">
      <ion-icon [src]="bookIconSrc"></ion-icon>
    </li>
  </ul>

  <ion-button (click)="goto('/settings')" [color]="checkButtonColor(theme)">
    <ion-icon
      slot="icon-only"
      src="../../../assets/icon/settings-outline.svg"
    ></ion-icon>
  </ion-button>
  <ion-button (click)="goto('/feedback')" [color]="checkButtonColor(theme)">
    <ion-icon
      slot="icon-only"
      src="../../../assets/icon/help-circle-outline.svg"
    ></ion-icon>
  </ion-button>
</div>
