@import "../../../theme/mixins";

#side-panel {
  width: 2.25rem;
  background-color: transparent;
  @include flex(column, $gap: 0.25em, $justify: space-between, $align: center);
  height: 100%;
}

ion-icon {
  cursor: pointer !important;
}

.active {
  background-color: #212faa33;
  border-right: 3px solid #212faa;
  border-radius: 0 !important;
}

ion-button {
  --border-radius: 10px;
  min-width: 94%;
  max-width: 100%;
  aspect-ratio: 1;
  --padding-end: 0px;
  --padding-start: 0px;
}
#logo {
  border-radius: 10px;
}
#side-menu {
  flex-grow: 1;
  background-color: #fff;
  color: #000324;
  width: 100%;
  margin: 0;
  border-radius: 15px;
  list-style-type: none;
  padding: 0;
  @include flex(column, $justify: center, $gap: 1em, $align: center);

  li {
    width: 100%;
    text-align: center;
    font-size: 1em;
    padding: 10px;
    // border-top-left-radius: 14px;
    // border-bottom-left-radius: 14px;
    cursor: pointer;
    @include flex(column, $justify: center, $align: center);
  }
  li:hover {
    background-color: #212faa33;
    border-right: 3px solid #212faa;
  }
}

#side-panel.dark {
  #side-menu {
    background: rgba(19, 19, 14, 0.9);
    color: white;
  }

  .icon:not(.logo) {
    background-color: #ffffff;
    color: #000324 !important;
  }
}

//TODO: HAMBURGER MENU INSTEAD
@media (max-width: 768px) {
  #side-panel {
    display: none;
  }
}
