<div id="side-panel">
  <div class="icon logo">
    <img src="../../../assets/icon/logo.png" alt="Studera logo" />
  </div>

  <ul id="side-menu">
    <li id="active"><ion-icon [src]="layerIconSrc"></ion-icon></li>
    <li><ion-icon [src]="homeIconSrc"></ion-icon></li>
    <li><ion-icon [src]="pieIconSrc"></ion-icon></li>
    <li><ion-icon [src]="bookIconSrc"></ion-icon></li>
  </ul>
  <ion-button (click)="onClick()" [color]="checkButtonColor(theme)">
    <ion-icon
      slot="icon-only"
      src="../../../assets/icon/settings-outline.svg"
    ></ion-icon>
  </ion-button>
  <ion-button (click)="onClick()" [color]="checkButtonColor(theme)">
    <ion-icon
      slot="icon-only"
      src="../../../assets/icon/help-circle-outline.svg"
    ></ion-icon>
  </ion-button>
</div>
