@import "../../../theme/mixins";

#side-panel {
  width: 3em;
  background-color: transparent;
  @include flex(column, $gap: 0.5em, $justify: space-between, $align: center);
  height: 100%;
  // color: #000324;
}

// * {
//   --ionicon-stroke-width: 10px !important;
// }

.icon {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 17px;
  padding: 10px;
}

ion-icon {
  cursor: pointer !important;
}

#active {
  background-color: #212faa33;
  border-right: 3px solid #212faa;
}

ion-button {
  --border-radius: 10px;
  aspect-ratio: 1;
}

.icon:not(.logo) {
  @include flex(column, $justify: center, $align: center);
  background-color: #000324;
  color: #fff;
  text-align: center;
  font-size: 2.2em;
}

.logo {
  background-color: #fff;
  @include flex(column, $justify: center, $align: center);
  cursor: pointer;
  border: 2px solid #00032450;
}

#side-menu {
  flex-grow: 1;
  background-color: #fff;
  color: #000324;
  width: 100%;
  margin: 0;
  border-radius: 15px;
  list-style-type: none;
  padding: 0;
  @include flex(column, $justify: center, $gap: 1em, $align: center);

  li {
    width: 100%;
    text-align: center;
    font-size: 1.25em;
    padding: 15px 10px;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    @include flex(column, $justify: center, $align: center);
  }
}

img {
  object-fit: contain;
  width: 4em;
}

#side-panel.dark {
  #side-menu {
    background: rgba(19, 19, 14, 0.9);
    color: white;
  }

  .icon:not(.logo) {
    background-color: #ffffff;
    color: #000324 !important;
  }
}

//TODO: HAMBURGER MENU INSTEAD
@media (max-width: 768px) {
  #side-panel {
    display: none;
  }
}
