<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title>HOME</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div id="main">
    <app-side-panel style="position: fixed; left: 0.5rem; top: 0"></app-side-panel>

    <div id="main-content">
      <div id="search-content">
        <ion-searchbar
          placeholder="Search"
          animated="true"
          inputmode="text"
          type="text"
          (ionChange)="onSearchChange($event)"
          [debounce]="250"
          class="custom"
        ></ion-searchbar>

        <ion-button (click)="onClick()" [color]="checkButtonColor(theme)">
          <ion-icon
            slot="end"
            src="../../../assets/icon/search-custom.svg"
          ></ion-icon>
        </ion-button>
      </div>

      <div id="days">
        <div class="scroll-container">
          <div class="overlay"></div>
          <div
            *ngFor="let day of info; index as i"
            class="day"
            [ngClass]="{'selected': day.selected}"
          >
            <h3>Day {{day.day}}</h3>
            <ion-note color="primary-alt"
              >{{day.selected? day.topic : ""}}</ion-note
            >
          </div>
        </div>
      </div>

      <div class="notes">
        <h2>{{data.title === "" ? "-" : data.title}}</h2>

        <div class="note-item" *ngFor="let note of notes">
          <h3>{{note.title}}</h3>
          <p>{{note.content}}</p>
        </div>

        <hr />

        <div class="takeaway">
          <h3>Key Takeaway</h3>
          <p>{{notes[1].content}}</p>
        </div>
      </div>
    </div>

    <div id="tools">
      <div class="utilities">
        <ion-button (click)="onClick()" [color]="checkButtonColor(theme)">
          <ion-icon
            size="small"
            slot="icon-only"
            src="../../../assets/icon/notification.svg"
          ></ion-icon>
        </ion-button>
        <ion-button (click)="onClick()" [color]="checkButtonColor(theme)">
          <ion-icon
            slot="icon-only"
            src="../../../assets/icon/person.svg"
          ></ion-icon>
        </ion-button>
      </div>
      <div id="clock">
        <div class="content">
          <small>Focus Session</small>
          <p style="font-size: 1.5em !important; margin-top: 0;">{{date.hour}}:{{date.minute}}</p>
        </div>
        <div class="clocks">
          <ion-icon slot="icon-only" size="large" src="../../../assets/icon/clock-1.svg"></ion-icon>
          <ion-icon slot="icon-only" size="large" src="../../../assets/icon/clock-2.svg"></ion-icon>
          <ion-icon slot="icon-only" size="large" src="../../../assets/icon/clock-3.svg"></ion-icon>
        </div>
      </div>
      <div id="bot">
        <div class="content"></div>
        <input type="text" id="chatbot-input" placeholder="Type a message"/>
        <!-- <ion-searchbar
          placeholder="Type a message"
          animated="true"
          inputmode="text"
          type="text"
          (ionChange)="onSearchChange($event)"
          [debounce]="250"
          class="custom"
        ></ion-searchbar> -->
      </div>
      <div id="note"></div>
    </div>
  </div>

  <!-- <div id="container">
    <strong class="capitalize">HOME</strong>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->
</ion-content>
