<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title>HOME</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div id="main">
    <app-side-panel
      style="position: fixed; left: 0.5rem; top: 0"
      [active]="2"
    ></app-side-panel>

    <div id="main-content">
      <div id="search-content">
        <ion-searchbar
          placeholder="Search"
          animated="true"
          inputmode="text"
          type="text"
          (ionChange)="onSearchChange($event)"
          [debounce]="250"
          class="custom"
        ></ion-searchbar>

        <ion-button (click)="onClick()" [color]="checkButtonColor(theme)">
          <ion-icon
            slot="end"
            src="../../../assets/icon/search-custom.svg"
          ></ion-icon>
        </ion-button>
      </div>

      <div class="notes">
        <h2>{{data.title === "" ? "Learning" : data.title}}</h2>

        <swiper-container
          style="width: 95%; padding: 0.2em"
          keyboard-enabled="true"
          space-between="35"
        >
          <swiper-slide *ngFor="let note of plans; index as i">
            <div class="note-item">
              <h3>
                {{ note.day && note.day.toString().toUpperCase().startsWith("D")
                ? note.day : "Day " + note.day }}
              </h3>
              <ion-note>{{note.title}}({{note.time_allocation}})</ion-note>
              <p style="margin-top: 0">{{note.summary}}</p>
              <ion-note>Learning resources</ion-note>
              <ul>
                <li *ngFor="let resource of note.resources">
                  <span>{{resource.description}}</span>:<a
                    [href]="resource.link"
                    >{{resource.link}}</a
                  >
                </li>
              </ul>
              <br/>
              <br/>
              <ion-button (click)="writeTest(i+1, data.title)" [disabled]="utilSrv.testsLoading()" color="warning" expand="block">
                <b *ngIf="!utilSrv.testsLoading()">Test Yourself</b>
                <ion-spinner
                  name="crescent"
                  *ngIf="utilSrv.testsLoading()"
                  style="color: #fff"
                ></ion-spinner>
              </ion-button>
            </div>
          </swiper-slide>
        </swiper-container>

        <!-- <div class="note-item" *ngFor="let note of plans">
          <h3>{{note.day}}</h3>
          <ion-note>{{note.title}}({{note.time_allocation}})</ion-note>
          <p style="margin-top: 0">{{note.summary}}</p>
          <ion-note>Learning resources</ion-note>
          <ul>
            <li *ngFor="let resource of note.resources">
              <span>{{resource.description}}</span>:<a [href]="resource.link">{{resource.link}}</a>
            </li>
          </ul>

        </div> -->

        <hr />

        <div class="takeaway">
          <h3>Summary</h3>
          <p>{{summary}}</p>
        </div>
      </div>
    </div>

    <div id="tools">
      <div class="utilities">
        <ion-button (click)="onClick()" [color]="checkButtonColor(theme)">
          <ion-icon
            size="small"
            slot="icon-only"
            src="../../../assets/icon/notification.svg"
          ></ion-icon>
        </ion-button>
        <ion-button (click)="onClick()" [color]="checkButtonColor(theme)">
          <ion-icon
            size="small"
            slot="icon-only"
            src="../../../assets/icon/person.svg"
          ></ion-icon>
        </ion-button>
      </div>
      <div id="clock">
        <div class="content">
          <small>Focus Session</small>
          <p style="font-size: 1.5em !important; margin-top: 0">
            {{date.hour < 10 ? '0' + date.hour : date.hour}} : {{date.minute <
            10 ? '0'+date.minute : date.minute}}
          </p>
        </div>
        <div class="clocks">
          <ion-icon
            slot="icon-only"
            size="large"
            src="../../../assets/icon/clock-1.svg"
          ></ion-icon>
          <ion-icon
            slot="icon-only"
            size="large"
            src="../../../assets/icon/clock-2.svg"
          ></ion-icon>
          <ion-icon
            slot="icon-only"
            size="large"
            src="../../../assets/icon/clock-3.svg"
          ></ion-icon>
        </div>
      </div>
      <div id="cip">
        <p>Courses in progress</p>
        <div class="cip-item">
          <p>React Basics</p>
          <p class="completed">50% done</p>
        </div>
        <div class="cip-item">
          <p>Further Mathematics</p>
          <p class="completed">10% done</p>
        </div>
        <div class="cip-item">
          <p>Cryptography</p>
          <p class="completed">38% done</p>
        </div>
      </div>
      <ion-textarea
        placeholder="Take notes"
        [autoGrow]="true"
        id="notepad"
        autocorrect="on"
        rows="10"
      >
      </ion-textarea>
    </div>
  </div>
</ion-content>
