<ion-content [fullscreen]="true">
  <div id="main" [class]="theme">
    <!--SIDE PANEL AND UTILITY ICONS-->
    <div class="utilities">
      <ion-button (click)="onClick()" [color]="checkButtonColor(theme)">
        <ion-icon
          slot="icon-only"
          src="../../../assets/icon/notification.svg"
          size="small"
        ></ion-icon>
      </ion-button>
      <ion-button (click)="onClick()" [color]="checkButtonColor(theme)">
        <ion-icon
          slot="icon-only"
          src="../../../assets/icon/person.svg"
          size="small"
        ></ion-icon>
      </ion-button>
    </div>
    <div class="app-side-panel">
      <app-side-panel [theme]="theme"></app-side-panel>
    </div>
    <div id="main-content">
      <!-- <div class="calender" *ngFor="let month of months">
        <div class="month">{{month}}</div>
      </div>
      <div class="days" *ngFor="let day of days">
        <div class="day">
          <span>Mon</span>
          <span>{{day}}</span>
        </div>
      </div> -->
      <div>No Active Courses to display..</div>
    </div>
  </div>
</ion-content>
